# Composer Dependencies
/vendor

# IDE Settings
.idea/
.vscode/

# System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker Volumes & Data
db_data/

# Uploads
public/uploads/*
!public/uploads/.gitkeep